.Contact {
  height: 100vh;
  background-color: #353d29;
  color: antiquewhite;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  

  &-FormSide {
    width: 30%;
    margin-left:6rem;
  }

  &-InfoSide {
    width: 30%;
  }
}
