.Contact {
  height: 70vh;
  margin: 0 auto;
  background-color: #353d29;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Letter {
    width: 18%;
    font-weight: bold;
  }
}
