.Contact {
  &-Form {
    display: flex;
    margin: 2.5rem 0;
  }

  label {
  font-weight: 700;
  }

  input {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    padding: 0 1rem;
    width: 90%;
    margin: 1rem 0 2rem 0;
    background-color: antiquewhite;
    color: #302b26;
  }

  &-Mail {
    height: 45px;
  }

  &-Message {
    height: 100px;
    resize: none;
  }

  button {
    margin: 2rem 0;
  }
}
