.Bubble {
  padding: 5rem 3rem;

  &-Box {
    width: 56rem;
    height: 19rem;
    display: block;
    background: #faebd7;
    border-radius: 20px;
    box-shadow: 8px 8px 0px #73805f;
    position: relative;
    top: 10rem;
    margin: 0 0 25px;
  }

  &-Text {
    padding: 1.5rem;
  }

  &-Message {
    line-height: 1.4;
    padding: 0.8rem;
    margin: 0;
  }

  &-Arrow {
    position: absolute;
    width: 0;
    bottom: 50px;
    left: -25px;
    height: 0;

    &:after {
      content: '';
      position: absolute;
      border: 0 solid transparent;
      border-top: 12px solid antiquewhite;
      border-radius: 0 30px 0;
      width: 85px;
      height: 20px;
      transform: rotate(145deg);
    }
  }
}
