.Contact {

  &-Info {
    display: flex;
    width: 100%;
    height: 300px;
    border: 1px solid #000;
    border-radius: 1em;
    padding: 3rem 3.6rem 3rem 0;
    background-color: antiquewhite;
    box-shadow: 22px 22px 0 0 #000;
  }
  
  &-Section {
    margin: 2rem 0rem;

    h4 {
        margin: 0.3rem 0;
        color: rgb(43, 42, 41);
    }

    p, a {
        color: rgb(54, 54, 53);
        margin: 0.3rem 0;
      }

    a:hover{
        text-decoration:underline;
    }
  }

  &-Letter {
    width: 100%;
    // margin: 1.5rem;
  }
  
}
